*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header-chamados{
    padding: 10px;
    background: rgb(238, 233, 195);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-chamados h1{
    font-size: 25px;
    margin-left: 15px;
}

.header-chamados a{
    text-decoration: none;
    font-size: 20px;
    color: #333;
    margin-right: 15px;
}

.nav-chamados{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around; /* Centraliza horizontalmente */
    align-items: center;
}

.nav-chamados i{

}

.detalhes-chamado{  
    display: flex;
}

.menu-chamado{
    width: 12rem;
    /* height: 100vh; */
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.menu-chamado ul {
    list-style-type: none;
    padding: 0;
}

.menu-chamado ul li {
    margin: 10px 0;
}

.menu-chamado ul li a {
    color: #fff;
    text-decoration: none;
}

.painel-chamado{
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

/*========================================================Descrição========================================================================*/

.container-descricao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.detalhes-box{
    margin-top: 20px;
    /* margin-bottom: 20px; */
    padding: 15px;
    margin-left: 10px;
    background-color: #ACD59E;
    width: 800px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.solucao-box, .tarefa-box , .avaliacao-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;

    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #6aa0b9f1;
    width: 800px;
}

.solucao-box{
    align-self: flex-end;
}

.tarefa-box{
    background-color: #d7d58e7a;
}

.avaliacao-box{
    background-color: #ffc8008a;
}


.detalhes-box h1, .solucao-box h1, .tarefa-box h1, .avaliacao-box h1{
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #3333336d;
}

.header-box {
    border: 1px solid #dad7d796;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.header-box strong{
    font-weight: bold;
}

.header-box h1{
    border:none;
    font-size: 13px;
    font-weight: 300;
}

.solucao-box h1{
    color: white;
}
#h1_header_solucao{
    color: #333;
}


.detalhes-box p, .solucao-box p, .tarefa-box p, .avaliacao-box p{
    margin-top: 8px;
    font-weight: 300;
    font-size: 16px;
}

.detalhes-box span, .solucao-box span, .tarefa-box span, .avaliacao-box span{
    margin-top: 0.3rem;
    align-self: flex-end;
    font-weight: 600;
    font-size: 15px;
}

.botao-box{
    padding: 15px;
    background: white;
    display: flex;
    gap: 10px;
}

.botao-box{
    padding: 15px;
    background: white;
}

.botao-box button{
        border: none;
        padding: 0.62rem;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
}

.info_tarefa_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#btn_Solucionar{
    background-color: #6aa0b9f1;
}

#btn_Solucionar:hover{
    background-color: #6aa0b972;
}


#btn_trf_pendente{
    background-color: #D7D48E;
}

#btn_trf_pendente:hover{
    background-color: #d7d58e7a;
}


#btn_avaliar{
    background-color: #ff6f00;
}

#btn_avaliar:hover{
    background-color: #ff6f0077;
}


/*INICIO Adicionar Solução Estilo ============================================================================*/

.add_solutionBox{
    background: #6aa0b970;
    padding: 20px;
    margin-top: 20px;
    width: 800px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.add_solutionBox textarea{
    resize: vertical;
    overflow-x: hidden;
    margin: 0.6 rem 0;
    padding: 0.8rem 1.2rem;
    width: 750px;
    height: 150px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

#task_solutionText_Error{
    margin-bottom: 1.3rem;
}

.header_solution.header_solution{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header_solution.header_solution span{
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
}

.header_solution.header_solution button{
    border: none;
    margin-right: 10px;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
}

.footer_solution{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer_solution button{
    border: none;
    background-color: #6aa0b9f1;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
}

.footer_solution button:hover{
    background-color: #6aa0b970;
}

.footer_solution input[type="datetime-local"]{
    padding: 0.4rem 1rem;
    height: 40px;
    width: 180px;
    border:none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px
}


/*FIM Adicionar Solução Estilo ============================================================================*/

/*INICIO Adicionar Tarefa Pendente Estilo ============================================================================*/

.error-message{
    font-size: 0.8rem;
    font-weight: 600;
    color: red;
}

.add_TarefaPendente{
    background: #D7D48E;
    padding: 20px;
    margin-top: 20px;
    width: 800px; 
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.add_TarefaPendente .header_task{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.add_TarefaPendente .header_task span{
    font-weight: 600;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
}

.add_TarefaPendente .header_task button{
    border: none;
    margin-right: 10px;
    font-size: 25px;
    background-color: transparent;
    cursor: pointer;
}

.add_TarefaPendente textarea{
    resize: vertical;
    overflow-x: hidden;
    margin: 0.6 rem 0;
    padding: 0.8rem 1.2rem;
    width: 750px;
    height: 150px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 6px #0000001c;
}

#task_pendente_Text_Error{
    margin-bottom: 1.8rem;
}

.add_TarefaPendente form{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.add_TarefaPendente .input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.add_TarefaPendente label{
    font-size: 1rem;
    font-weight: 500;
    color: #000000c0;
 }

.add_TarefaPendente .input-submit button{
    border: none;
    background-color: #ff6f00;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
}

.add_TarefaPendente .input-submit{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Editar Chamado ===================================================================*/
.editar_chamado{
    display: flex;
    flex-direction: column;
}

.header_editar_chamado{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.2rem;
}

.header_editar_chamado h1{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.header_editar_chamado h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6aa0b9f1;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group_data_editar-chamado{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
}

.input-group_data_editar-chamado > :nth-child(1){
    grid-column: span 2;
}

.input-group_data_editar-chamado > :nth-child(2){
    grid-column: span 2;
}

.input-box{
    grid-column: span 7;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input, select, textarea{
    margin: 0.6 rem 0;
    padding: 0.8rem 1.2rem;
    border:none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box label{
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
}

.select_box_editar-chamado{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
}

.select_box_editar-chamado > :nth-child(1){
    grid-column: span 18;
}

.select_box_editar-chamado > :nth-child(2){
    grid-column: span 18;
}

.submit-group button{
    margin-top: 1.0rem;
    margin-right: 1.0rem;
    border: none;
    background-color: #8ecae6;
    padding: 0.4rem 1rem;
    width: 20rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
}

.submit-group > :nth-child(2){
    background-color: #99B080;
}
.submit-group > :nth-child(2):hover{
    background-color: #99b0809c;
}

.submit-group > :nth-child(3){
    background-color: #FF964A;
}
.submit-group > :nth-child(3):hover{
    background-color: #ff954a77;
}

.submit-group > :nth-child(4){
    background-color: #e53935;
}
.submit-group > :nth-child(4):hover{
    background-color: #e5383587;
}

.submit-group button:hover{
    background-color: #8ecae6b6;
}

/* Editar Descrição ===================================================================================================*/

.alterar_solucao{
    display: flex;
    flex-direction: column;
}

.alterar_solucao textarea, .alterar_tarefas textarea, .container_avaliacao textarea{
    resize: vertical;
    overflow-x: hidden;
    margin: 0.6 rem 0;
    padding: 0.8rem 1.2rem;
    width: 750px;
    height: 150px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 6px #0000001c;
}

.alterar_solucao label {
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
}


.header_editar_descricao h1{
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-bottom: 2rem;
}

.header_editar_descricao h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6aa0b9f1;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.status-alterar_tarefa{
    margin-top: 0.7rem;
    display: flex;
    gap: 6rem;
}

.linha-horizontal {
    height: 3px; /* altura da linha */
    width: 50%;
    background: linear-gradient(to right, red, yellow); /* gradiente de vermelho para amarelo */
    margin-bottom: 1.2rem;
}

#alterar_btn_Tarefa_pendente{
    background-color: #ff6f00;
}

.h1-alterar h1 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 1.0rem;
    align-items: center;
}

.chm_estilo-li{
    background-color: rgba(255, 255, 255, 0.136);
}

#chm_quebra_linha hr {
    margin-top: 30px; /* Espaçamento acima e abaixo da linha */
    border-color: #ccc; /* Cor da linha divisória */
}

/* AVALIAÇÃO CHAMADOS ===================================*/
.container_avaliacao h1{
    font-size: 25px;
    font-weight: 300;
    color: black;
    margin-bottom: 2rem;
}
.container_avaliacao h1::after{
    content: '';
    display: block;
    width: 50rem;
    height: 0.3rem;
    background-color: #ffc700;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
#bt_avaliar{
    background-color: #ffc700;
}
#bt_avaliar:hover{
    background-color: #ffc8007a;
}

.star-rating {
    direction: rtl;
    display: flex;
    justify-content: center; /* Alinha o conteúdo das estrelas horizontalmente ao centro */
    flex-wrap: wrap; /* Permite a quebra de linha caso necessário */
    gap: 20px;
}
.star-rating input[type=radio] {
    display: none;
}
.star-rating label {
    color: #ccc;
    font-size: 40px; /* Aumenta o tamanho das estrelas */
    cursor: pointer;
    padding: 10px;
    text-align: center;
    direction: ltr; /* Direção do texto da esquerda para a direita */
}
.star-rating label span {
    display: block;
    font-size: 16px; /* Tamanho do texto das avaliações */
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #ffc700;
}


/* FIM Adicionar Tarefa Pendente Estilo ===============================================================================*/

/*ANIMAÇÃO DO BOTÃO EM SLIDE UP E SLIDE DOWN*/
/*SLIDE-UP e SLIDE-DOWN*/

/*Classe para remover a animação do carregamento da pagina  */
/* Oculta os sliders por padrão */
#slider, #slider_2 {
    display: none;
}


.no-animation > #slider_id {
    transition: none !important;
}
.no-animation_2 > #slider_id_2 {
    transition: none !important;
}

/*Tarefa Pedente..*/
/* .no-animation_2 > #slider_id_2{
    transition: none !important;
} */

.slide-up, .slide-down{
    overflow: hidden;
}

/*Tarefa Pedente..*/
.slide-up_2, .slide-down_2{
    overflow: hidden;
}

.slide-up > #slider_id, .slide-down > #slider_id {
    margin-top: -50%;
    transition: margin-top 0.3s ease-in-out;
}

/*Tarefa Pedente..*/
.slide-up_2 > #slider_id_2, .slide-down_2 > #slider_id_2{
    margin-top: -50%;
    transition: margin-top 0.3s ease-in-out;
}

.slide-down > #slider_id{
    margin-top: 0;
}

/*Tarefa Pedente..*/
.slide-down_2 > #slider_id_2{
    margin-top: 0;
}

/* .submit-box input:hover{
    background-color: #8ecae6;
} */

