*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.estilo-li{
    background-color: white;
    font-weight: bold;
}

#container{
    height: 400px;
}

html body{
    overflow: hidden;
    background-color: white;
}

.menu-principal{
    display: flex;
    width: 100%;
    height: 100vh;
    
}

.side-bar{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;

    /* border-radius: 10px; */
    box-shadow: 0 4px 8px;
    width: 17rem;
    padding: 10px;
    background: rgba(241, 240, 232);
    box-shadow: 0px 1px 26px -5px rgba(0, 0, 0, 0.70);
    height: 100%;
}

.container-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 20%;
    border: solid 1px black;
    height: 8rem;
    width: 8rem;
}

.container-image i{
    font-size: 50px;
}

.subtitulo-img{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.subtitulo-img h1{
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
}

.subtitulo-img > :first-child{
    font-size: 20px;
    font-weight: bold;
}

.opcoes-menus{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opcoes-menus li{
    /* border-top: solid 1px white;
    border-bottom: solid 1px white; */
    list-style-type: none;
    display: flex;
    /* justify-content: flex-start; */
    column-gap: 15px;
}

.admin_menu {
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 15px;
}
.opcoes-menus > li:last-child{
    border: none;
    position: absolute;
    bottom: 0;
}

.opcoes-menus li a{
    /* margin-top: 10px; */
    font-size: 16px;
    text-decoration: none;
    /* white-space: pre-line; */
    color:black;
}

.opcoes-menus li img{
    height: 30px;
    width: 30px;
}

/* .btn-sair i{
    padding-right: 20px;
    font-size: 25px;
} */

.conteudo{
    width: 100%;
    margin-left: 17rem;
    /* right: 30%; */
    /* padding: 30px; */
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.show_drawer{
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;  /* Animation */
    padding-top: 60px;
    color: white;
}

/*PAGINA HUB_CHAMADOS*/


/*==================================================== Criar_chamados.php =====================================================================================*/

.container-chamados{
    padding: 40px;
    height: 85vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between; 

   /* padding: 2rem; */
   background-color: #FFFFFF;
}

.titulo-chamado{
    margin-bottom: 3.0rem;
    align-items:center;
}

.titulo-chamado h2{
    font-size: 24px;
    font-weight: bold;
    color: #4b6967;
}

.titulo-chamado h2::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6aa0b9f1;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.container-titulo{
  display: flex;
  flex-direction: column;
}

.container-titulo .input-box-titulo{
    /* grid-column: span 4; */
    display: flex;
    flex-direction: column;
    margin-bottom: 1.3rem;
}

.input-group-date{
    width: 100%;
    /* grid-column: span 8; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-group-descricao{
    /* grid-column: span 6; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-box-descricao{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.input-box-titulo input,
.input-box-titulo select{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    width: 250px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-group-descricao input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    width: 700px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-group-date label, 
.input-group-descricao label,
.input-box label
{
    font-size: 0.8rem;
    font-weight: 600;
    color: #000000c0;
}

.input-group-descricao textarea {
    resize: vertical;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    width: 700px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    margin-bottom: 1.3rem;
}

.container-especificacao{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10em;

}


.container-especificacao .input-box{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.submit-box input, button{
    text-align: center;
    border: none;
    background-color: #6aa0b9f1;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}

.submit-box input:hover, button:hover{
    background-color: #8ecae6;
}


.error-message{
    font-size: 0.8rem;
    font-weight: 600;
    color: red;
}
/*==================================================== Meus Chamados.php =====================================================================================*/
.header_editar_chamado{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.2rem;
}

.header_editar_chamado h1{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.header_editar_chamado h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6aa0b9f1;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
/*==================================================== hub_chamados.php =====================================================================================*/
.drawer{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #F1F0E8;
    box-shadow: 0px 1px 26px -5px rgba(0, 0, 0, 0.70);
    overflow-x: hidden;
    transition: 0.5s;  /* Animation */
    padding-top: 60px;
    color: black;
}
#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);  /* Cor preta com 70% de opacidade */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;  /* Ajuste o z-index se necessário para que fique atrás do drawer */
    display: none;  /* Inicialmente oculto */
}

.background-transparente{
    /* height: 100vh;
    width: 100%; */
    z-index: 9;
    background-color: transparent;
}

.header_chamados{
    background: rgba(241, 240, 232);
    padding-left: 10px;
}

.header_chamados form{
    /* display: flex;
    flex-direction: row; */
}

.header_chamados form select, 
.header_chamados form select, input { 
    margin: 0.4rem 0;
    padding: 0.6rem 0.8rem;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #0000001c;
    margin-right: 10px;
}

/* .header_chamados form input { 
    margin: 0.4rem 0;
    padding: 0.6rem 0.8rem;
    border: solid 1px black;
    box-shadow: 1px 1px 6px #0000001c;
} */

.header_chamados form button {
    margin: 0.6rem 0;
    padding: 0.8rem 1rem;
    border: none;
    cursor: pointer;
    background-color: #29a1d8;
}
#btn_pesquisar_chamados{
    margin: 1.0rem 0;
    padding: 0.8rem 1rem;
    border: none;
    cursor: pointer;
    background-color: #29a1d8;
}

.header_chamados form button i{
    color: white;
}

.conteudo_chamados{
    margin-top: 10px;
    padding: 20px;
    background-color: white;
    /* overflow: scroll; */
}

.header-row{
    border: 1px 1px 1px black;
}

.group-btn{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

#form_botao button, #btn_criar_chamado{
    width: 200px;
    border: none;
    background-color: #6aa0b9f1;
    padding: 1.0rem;
    border-radius: 5px;
    cursor: pointer;
} 

/* .conteudo_chamados{
    /* overflow: auto; }*/
/* #form_botao {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}
#form_botao button{
    width: 200px;
    border: none;
    background-color: #6aa0b9f1;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
} */

#btn_listar i{
    color: #111;
}

#tabela{
    height: 700px;
    overflow: scroll;
}

.tabela-ajustada {
    font-size: 0.9em;
    overflow-x: auto;
}
.descricao-col {
    max-width: 200px; /* Ajuste este valor conforme necessário */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.avaliacao-col {
    max-width: 120px; /* Ajuste este valor conforme necessário */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


table {
    max-width: 100%;
    overflow: scroll;
    text-align: left;

    /* table-layout: auto; */
    /* height: 200vh; */
    /* border-collapse: collapse; */
}

table, th, td{
    border: 1px solid rgba(0, 0, 0, 0.297);
    padding: 0.25rem;
}
thead th{
    top:-5;
    position: sticky;
    background: gray;
    z-index: 100;
}

th, td {
    padding: 8px;
    font-weight: 2rem !important;
}

table td a{
    text-decoration: none;
    /* font-weight: 300; */
}

/*============================================ESTILO DAS PAGINAS PAINEL ADMIN========================================================*/
/*EDITAR USUARIO*/
.form-header {
    margin-bottom: 1.2rem;
    display: flex;
}
.form-header h2{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.form-header h2::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6aa0b9f1;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 10px;
}

.input-group .input-box{
    grid-column: span 8;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-group > :nth-last-child(2), .input-group > :nth-last-child(3), .input-group > :nth-last-child(4) {
    grid-column: span 8;
}

.input-box input, select {
    margin: 0.6 rem 0;
    padding: 0.8rem 1.2rem;
    border:none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    /* width: 250px; */
}

.input-box input:hover,
.input-box select:hover{
    background-color: #f5f5f500;
}

.input-box input:focus-visible,
.input-box select:focus-visible{
    outline: 1px solid #6aa0b9f1;
}

.input-box label{
    font-size: 1rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input:placeholder {
    color: #000000be;
}

.submit-box input{
    text-align: center;
    width: 20rem;
    margin-top: 0.7rem;
    border: none;
    background-color: #6aa0b9f1;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.submit-box input:hover{
    background-color: #8ecae6;
}

.submit-box input{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}

.input-box span{
    font-size: 0.7rem;
    font-weight: 600;
    color: red;
}

.error-message2{
    font-size: 1.0rem;
    font-weight: 600;
    color: red;
}

#togglePassword ,#togglePassword2, #togglePassword3 {
 
    position: relative;
    left: 88%;
    bottom: 34%;
    margin-left: 5px;
    cursor: pointer;
    width: 20px; 
    height: 20px;
}

.group-password{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}
.group-password .input-box{
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.group-password input[type=submit]{
    text-align: center;
    margin-top: 20px;
    width: 20rem;
    height: 3.5rem;
    border: none;
    background-color: #82b1ff;
    /* padding: 0.62rem; */
    border-radius: 5px;
    cursor: pointer;
}

#search_text{
    margin: 0.6rem 0;
    /* padding: 0.8rem 1.2rem; */
    border:none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c; 
}

#pesquisar_user{
    margin: 0.6rem 0;
    padding: 0.8rem 1rem;
    border: none;
    cursor: pointer;
    background-color: #29a1d8;
}


/*FIM EDITAR USUARIO*/
/*Listar Usuario*/

